<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="机械臂-总装-新-4_SLDASM_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="1-joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['1-joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="2-joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['2-joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="3-joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['3-joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="4-joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['4-joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="5-joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['5-joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="6-joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['6-joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
